<form action="/tasks/<%= task._id %>?_method=PUT" method="post">
  <button type="button">&#9998;</button>
  <div class="edit-form">
    <input type="text" name="title" required />
    <button type="submit">&#9998;</button>
  </div>
</form>
